body {
    margin: 0;
}

.wrapperTable {
    position: relative;
    display: table;
}

.table {
    border: 1px solid #4DABE4;
    margin: 52px;
}

.table__tCell {
    background-color: #4DABE4;
    min-width: 50px;
    width: 50px;
    height: 50px;
}

.tCell__text{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
}

.table__btn {
    position: absolute;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 50px;
    cursor: pointer;
    transition: background-color .5s ease-in;
}

.table__btn_hide {
    display: none;
}

.table__btn_AddRow {
    background-color: #F3A500;
    bottom: 0px;
    left: 55px;
}

.table__btn_AddCell {
    background-color: #F3A500;
    top: 55px;
    right: 0px;
}

.table__btn_AddCell:hover,
.table__btn_AddRow:hover {
    background-color: #f6c052;
}

.table__btn_DelRow {
    left: 0px;
    bottom: 55px;
    background-color: #B20000;
    opacity: 0;
}

.table__btn_DelCell {
    right: 55px;
    top: 0px;
    background-color: #B20000;
    opacity: 0;
}

.table__btn_DelRow:hover,
.table__btn_DelCell:hover {
    background-color: #ca4c49;
}


.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeOut {
    animation-name: fadeOut;
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
